{% extends 'base_login.html' %}
{% load staticfiles %}
{% block title %}Alteração de senha{% endblock %}
{% block content %}
<!-- .?next={{redirect_to}} -->
<!-- Serve para gravar a última página que o usuário tentou acessar -->
<style>
body {
  background-color: #00796b;
}
#form {
  width: 350px;
  padding-top: 15px;
}

</style>
<div class="container" id='form'>
  <form method="post">{% csrf_token %}
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
    <!-- Modal Structure -->
    <div id="modal2" class="modal deep-purple">
      <div class="modal-content center white-text">
        <h4 class="card-title white-text darken-1"><i class="material-icons">announcement</i>  Mensagem do sistema!</h4>
        <p style="font-size:16px;">{{ form.errors }}</p>
      </div>
      <div class="modal-footer deep-purple darken-2">
        <div class="center">
            <button type="button" class="btn-flat waves-effect modal-close light-blue white-text"><i class="material-icons left">check</i> Ok</button>
        </div>
      </div>
    </div>
        {% endfor %}
      {% endfor %}
    {% endif %}
    <div class="center">
      <div class="card-panel z-depth-5 row">
        <div class="center">
          <!-- <img src="https://i.imgur.com/a4bYTa2.png"> -->
          <img src="{% static 'images\icons\icon account.png' %}">
        </div>
        <h5>Alteração de senha</h5>
          <div class="input-field">
              <input type="password" name="old_password" value="" maxlength="30" id='id_old_password'>
              <label for="{{form.old_password.id_for_label}}">Senha antiga</label>
            </div>
          <div class="input-field">
              <input type="password" name="new_password" value="" maxlength="30" id='id_new_password'>
              <label for="{{form.new_password.id_for_label}}">Nova senha</label>
            </div>
            <div class="input-field">
                <input type="password" name="confirm_password" value="" maxlength="30" id='id_confirm_password'>
                <label for="{{form.confirm_password.id_for_label}}">Confirme nova senha</label>
              </div>
            <br>
            <div class='row'>
          <button class="btn waves-effect waves-light" type="submit" name="login">Alterar senha</button>
            </div>
        </div>
      </div>
    </form>
    <div class="center">
      <a class="white-text" href="#">Copyright © 2018 <b>AKZO</b><br>Todos os direitos reservados</a>
    </div>
</div>
{% endblock %}
