{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Lista de Usuários{% endblock %}
{% block content %}
    <div class="center">
      <h4>Lista de Usuários</h4>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Username</th>
          <th>Tipo de usuário</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
    {% for usuario in lista %}
      <tr>
       <td>{{ usuario.name }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.telefone }}</td>
        <td>{{ usuario.username }}</td>
         {% if usuario.tipo_usuario == 'sup' %}
         <td>Gerente</td>
        {% elif usuario.tipo_usuario == 'fuc' %}
        <td>Funcionário</td>
        {% else %}
        <td>Usuário sem posição</td>
        {% endif %}
        <td>
          <a href="{% url 'editar_usuario' pk=usuario.pk %}">
       <i class="material-icons">mode_edit</i>
          </a>
          <a href="{% url 'remover_usuario' pk=usuario.pk %}">
        <i class="material-icons">delete</i>
         </a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

{% endblock %}
