{% extends 'base.html' %}
{% load static %}
{% block title %}Polyclar - Internet via rádio{% endblock %}

{% block content %}
<!-- Slides -->
<div class="slider scrollspy" id="slides">
  <ul class="slides">
     <li>
       <img src="{% static 'imagens\slides\imagem1.png' %}"> <!-- random image -->
       <div class="caption center-align">
         <!-- <h3>This is our big Tagline!</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5> -->
       </div>
     </li>
     <li>
       <img src="{% static 'imagens\slides\imagem2.png' %}"> <!-- random image -->
       <div class="caption left-align">
         <!-- <h3>Left Aligned Caption</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5> -->
       </div>
     </li>
     <li>
       <img src="{% static 'imagens\slides\imagem3.png' %}"> <!-- random image -->
       <div class="caption right-align">
         <!-- <h3>Right Aligned Caption</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5> -->
       </div>
     </li>
     <li>
       <img src="{% static 'imagens\slides\background.jpg' %}"> <!-- random image -->
       <div class="caption center-align">
         <!-- <h3>This is our big Tagline!</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5> -->
       </div>
     </li>
   </ul>
 </div>
<!-- FimSlides -->

<!-- Planos -->
<div class="container">
  <div class="scrollspy" id="planos">
  <div class="col s12 ">
   <br><br>
   <div class="divider"></div>
   <h3 class="header-title">BANDA LARGA</h3>
   <h5 class="card-title">INTERNET RÁPIDA E DE QUALIDADE VOCÊ SÓ ENCONTRA AQUI!</h5>
   <p class="card-title" style="font-size: 20px;">Confira abaixo nossos planos:</p>
 </div>
<div class="row">

 <section class="plans-container">
   <article class="col s12 m5 l3">
     <div class="card z-depth-1">
       <div class="card-image blue waves-effect">
         <div class="card-title">1 MEGA</div>
         <div class="price"><sup>R$</sup>50<sub>/mês</sub></div>
         <div class="price-desc">5% de desconto</div>
       </div>
       <div class="card-content">
         <ul class="collection">
           <li class="collection-item">Download: 100mbps</li>
           <li class="collection-item">Sem franquia de consumo</li>
           <li class="collection-item">Instalação paga</li>
         </ul>
       </div>
       <div class="card-action center-align">
          <a href="#assine"><button class="waves-effect waves-light blue btn">CONTRATAR</button></a>
       </div>
     </div>
   </article>

   <article class="col s12 m5 l3 ">
     <div class="card z-depth-2">
       <div class="card-image red waves-effect">
         <div class="card-title">2 MEGA</div>
         <div class="price"><sup>R$</sup>70<sub>/mês</sub></div>
         <div class="price-desc">10% de desconto</div>
       </div>
       <div class="card-content">
         <ul class="collection">
           <li class="collection-item">Download: 150mbps</li>
           <li class="collection-item">Sem franquia de consumo</li>
           <li class="collection-item">Instalação paga</li>
         </ul>
       </div>
       <div class="card-action center-align">
          <a href="#assine"><button class="waves-effect waves-light red btn">CONTRATAR</button></a>
       </div>
     </div>
   </article>

   <article class="col s12 m5 l3">
     <div class="card z-depth-3">
       <div class="card-image blue waves-effect">
         <div class="card-title">3 MEGA</div>
         <div class="price"><sup>R$</sup>90<sub>/mês</sub></div>
         <div class="price-desc">20% de desconto</div>
       </div>
       <div class="card-content">
         <ul class="collection">
           <li class="collection-item">Download: 250mbps</li>
           <li class="collection-item">Sem franquia de consumo</li>
           <li class="collection-item">Instalação grátis</li>
         </ul>
       </div>
       <div class="card-action center-align">
          <a href="#assine"><button class="waves-effect waves-light blue btn">CONTRATAR</button></a>
       </div>
     </div>
   </article>
   <article class="col s12 m5 l3">
     <div class="card z-depth-1">
       <div class="card-image red waves-effect">
         <div class="card-title">5 MEGA</div>
         <div class="price"><sup>R$</sup>130<sub>/mês</sub></div>
         <div class="price-desc">30% de desconto</div>
       </div>
       <div class="card-content">
         <ul class="collection">
           <li class="collection-item">Download: 500mbps</li>
           <li class="collection-item">Sem franquia de consumo</li>
           <li class="collection-item">Instalação grátis</li>
         </ul>
       </div>
       <div class="card-action center-align">
          <a href="#assine"><button class="waves-effect waves-light red btn">CONTRATAR</button></a>
       </div>
     </div>
   </article>
 </section>
 </div>
 </div>
 <!-- End planos -->

  <div class="row">
     <div class="col s12 ">
       <div class="scrollspy" id="vantagens">
        <br><br>
          <div class="divider"></div>
            <h3 class="header-title">VANTAGENS</h3>
            <h5 class="card-title">VEJA ABAIXO AS VANTAGENS DE CONTRATAR A <b>POLYCLAR</b>.</h5>
              <br><br>
                <div class="col s4">
                  <div class="center promo promo-example">
                    <i class="large material-icons">flash_on</i>
                    <p class="promo-caption" style="font-size: 20px;">Internet com alta velocidade</p>
                    <p class="light center" style="font-size: 18px;">Nossa internet possui <b>equipamentos de última geração</b>, estabelecendo
                      uma <b>conexão</b> <b>firme</b> e <b>segura</b> de ponta-a-ponta.</p>
                  </div>
                </div>
                <div class="col s4">
                  <div class="center promo promo-example">
                    <i class="large material-icons">group</i>
                    <p class="promo-caption">User Experience Focused</p>
                    <p class="light center" style="font-size: 18px;" >By utilizing elements and principles of Material Design, we were able to create a framework that focuses on User Experience.</p>
                  </div>
                </div>
                <div class="col s4">
                  <div class="center promo promo-example">
                    <i class="large material-icons">settings</i>
                    <p class="promo-caption">Easy to work with</p>
                    <p class="light center" style="font-size: 18px;">We have provided detailed documentation as well as specific code examples to help new users get started.</p>
                  </div>
                </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col s12 ">
        <div class="scrollspy" id="assine">
         <br><br>
           <div class="divider"></div>
             <h3 class="header-title">ASSINE JÁ!</h3>
             <h5 class="card-title">PREENCHA O FORMULÁRIO ABAIXO E NOSSA EQUIPE ENTRARÁ
               EM CONTATO COM VOCÊ!</h5>
               <br><br>
                <div class="card-panel z-depth-3 row">
                  <form method="post">{% csrf_token %}
                  <div class="row">
                  <div class="input-field col s4">
                     <input type="text" value="" name="name" id="id_name">
                     <label for="{{form.name.id_for_label}}">Nome completo<span id="valNome" style="color:red">*</span></label>
                  </div>
                  <div class="input-field col s4">
                      <input type="text" value="" name="telefone" id="id_telefone">
                      <label for="{{form.telefone.id_for_label}}">Telefone<span id="valNome" style="color:red">*</span></label>
                   </div>
                   <div class="input-field col s4">
                      <input type="email" value="" name="email" id="id_email">
                      <label for="{{form.email.id_for_label}}">Email<span id="valNome" style="color:red">*</span></label>
                   </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s4">
                        <input type="text" value="" name="endereco" id="id_endereco">
                        <label for="{{form.endereco.id_for_label}}">Endereço<span id="valNome" style="color:red">*</span></label>
                    </div>
                    <div class="input-field col s4">
                        <input type="text" value="" name="cep" id="id_cep">
                        <label for="{{form.cep.id_for_label}}">Cep<span id="valNome" style="color:red">*</span></label>
                    </div>
                    <div class="input-field col s4">
                        <select name="plano" id="id_plano">
                          <option value="" selected disabled>Selecione o plano</option>
                          <option value="PL1">Plano de R$ 50,00</option>
                          <option value="PL2">Plano de R$ 70,00</option>
                          <option value="PL3">Plano de R$ 90,00</option>
                          <option value="PL4">Plano de R$ 130,00</option>
                        </select>
                    </div>
                  </div>
                  <div class="row">
                      <div class="input-field col s4">
                          <input type="text" value="" name="numero" id="id_numero">
                          <label for="{{form.numero.id_for_label}}">Número<span id="valNome" style="color:red">*</span></label>
                      </div>
                      <div class="input-field col s4">
                          <input type="text" value="" name="bairro" id="id_bairro">
                          <label for="{{form.bairro.id_for_label}}">Bairro<span id="valNome" style="color:red">*</span></label>
                      </div>
                      <div class="input-field col s4">
                          <input type="text" value="" name="complemento" id="id_complemento">
                          <label for="{{form.complemento.id_for_label}}">Complemento<span id="valNome" style="color:red">*</span></label>
                      </div>
                      </div>
                  </form>
                </div>
                <div class="center">
                    <button type="submit" class="btn waves-effect red waves-light" name="action">ASSINAR</button>
                    </div>
                
       </div>
   </div>
</div>
{% endblock %}
