{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Cadastrar Cliente{% endblock %}
{% block content %}
<div class="container">
<form method="post">
  {% csrf_token %}
  <div class="center">
    <h6 style="margin-top:2%">Cadastrar Cliente</h6>
    <span>Ficha de cadastro</span>
  </div>
  <div class="card-panel z-depth-4 row">
      <div class="input-field" >
          <input type="text" name="pessoa_name" value="" required="" id="id_pessoa_name">
          <label for="{{form.pessoa_name.id_for_label}}">Nome completo <span id="valNome" style="color:red">*</span></label>
       </div>
      <div class="input-field">
          <input type="text" name="pessoa_data" class="datepicker" value="" required="False" maxlength="10" id="id_pessoa_data">
          <label for="{{form.pessoa_data.id_for_label}}">Data de nascimento</label>
       </div>
      <div class="input-field">
          <input type="email" name="pessoa_email" value="" maxlength="30" id="id_pessoa_email">
          <label for="{{form.pessoa_email.id_for_label}}">Email</label>
       </div>
      <div class="input-field col s6">
          <input type="text" name="pessoa_telefone" value="" maxlength="11" required="" id="id_pessoa_telefone">
          <label for="{{form.pessoa_telefone.id_for_label}}" >Telefone <span id="valTelefone" style="color:red">*</span></label>
       </div>
      <div class="input-field col s6">
          <select name="pessoa_sexo" id="id_pessoa_sexo">
            <option value="" disabled selected>Selecione sexo</option>
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
            <option value="Indefinido">Indefinido</option>
          </select>
          <label for="{{form.pessoa_sexo.id_for_label}}">Sexo</label>
        </div>
    </div>
  <div class="center">
  <button type="submit" class="btn waves-effect waves-light" name="action">Salvar</button>
  </div>
 </form>
</div>


{% endblock %}
