{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Remoção de produto{% endblock %}
{% block content %}

<form method="post">{% csrf_token %}
  <h4>Tem certeza que deseja remover o produto '{{produto.produto_nome}}'</h4>
  <br>
  <button type="submit" class='btn btn-primary'>Remover</button>

</form>
<!-- <div style="margin-top:175px; max-width:400px" class="container center-align">
     <div class="col s12 m6">
     <div class="card animated zoomIn">
       <div class="card-content">
         <i class="material-icons" style="font-size:81px; color:#2e7d32">check_circle</i>
         <span class="card-title">Remoção do marca</span>
         <p>O marca {{marca.marca_nome}} foi removido do sistema</p>
       </div>
    <a href="{% url 'listar_marcas' %}" style="margin-bottom:20px" class="btn blue darken-3">Ok</a>
   </div>
   </div>
 </div> -->
{% endblock %}
