{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Editar Produto{% endblock %}
{% block content %}
<div class="container">
<form method="post">
  {% csrf_token %}
  <div class="center">
    <h6 style="margin-top:2%">Editar Produto</h6>
    <span>Campos</span>
  </div>
  <div class="card-panel z-depth-4 row">
    <!-- {{ form }} -->
    <div class="input-field" >
       {{form.produto_nome}}
       <label for="{{form.produto_name.id_for_label}}">Nome</label>
    </div>
    <div class="input-field">
      {{form.produto_descricao}}
      <label for="{{form.produto_descricao.id_for_label}}">Descrição</label>
    </div>
    <div class="input-field">
      {{form.produto_data_compra}}
      <label for="{{form.produto_data_compra.id_for_label}}">Data de compra</label>
    </div>
    <div class="input-field">
      {{form.produto_marca}}
      <label for="{{form.produto_marca.id_for_label}}">Marca</label>
    </div>
    <div class="input-field">
      {{form.produto_tipo}}
      <label for="{{form.produto_tipo.id_for_label}}">Tipo</label>
    </div>
    <div class="input-field">
      {{form.produto_cor}}
      <label for="{{form.produto_cor.id_for_label}}">Cor</label>
    </div>
    <div class="input-field">
      {{form.produto_tamanho}}
      <label for="{{form.produto_tamanho.id_for_label}}">Tamanho</label>
    </div>
    <div class="input-field">
      {{form.produto_valor_compra}}
      <label for="{{form.produto_valor_compra.id_for_label}}">Valor de compra</label>
    </div>
    <div class="input-field">
      {{form.produto_foto}}
      <label for="{{form.produto_foto.id_for_label}}"></label>
    </div>
<br>
  <div class="center">
  <button type="submit" class="btn waves-effect waves-light" name="action">Salvar</button>
    <a href="#modal1" class="btn waves-effect waves-light modal-trigger">Remover produto</a>
  </div>
 </form>
</div>


<!-- Modal Structure -->
<div id="modal1" class="modal deep-purple">
  <div class="modal-content center white-text">
    <h4 class="card-title white-text darken-1"><i class="material-icons">announcement</i>  Mensagem do sistema!</h4>
    <p style="font-size:16px;">Tem certeza que deseja remover o produto <strong>'{{produto.produto_nome}}'</strong> ?
      <br>Esta ação resultará na remoção definitiva do sistema.</p>
  </div>
  <div class="modal-footer deep-purple darken-2">
    <div class="center">
      <form method="post" action="{% url 'remover_produto' pk=produto.id %}">{% csrf_token %}
        <button type="submit" class="btn-flat waves-effect modal-close light-blue white-text"><i class="material-icons left">check</i> Ok</button>
        <a class="btn-flat waves-effect modal-close red accent-2 white-text"><i class="material-icons left">cancel</i> Cancelar</a>
      </form>
    </div>
  </div>
</div>

{% endblock %}
