{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Lista de Produtos{% endblock %}
{% block content %}
    <div class="center">
      <h4>Lista de Produtos</h4>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Foto</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Data de compra</th>
          <th>Marca</th>
          <th>Tipo</th>
          <th>Cor</th>
          <th>Tamanho</th>
          <th>Valor pago</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
    {% for produto in lista %}
      <tr>
        {% if produto.produto_foto %}
        <td><img src="{{produto.produto_foto.url}}" style="width:60px"></td>
        {% else %}
        <td><img src="{% static 'img\Produto-Sem-Imagem.jpg' %}" style="width:60px"></td>
        {% endif %}
       <td>{{ produto.produto_nome }}</td>
        <td>{{ produto.produto_descricao }}</td>
        <td>{{ produto.produto_data_compra }}</td>
        <td>{{ produto.produto_marca }}</td>
        <td>{{ produto.produto_tipo}}</td>
        <td>{{ produto.produto_cor }}</td>
        <td>{{ produto.produto_tamanho }}</td>
        <td>R$ {{ produto.produto_valor_compra }}</td>
        <td>
          <a href="{% url 'editar_produto' pk=produto.pk %}">
       <i class="material-icons">mode_edit</i>
          </a>
          <a href="{% url 'remover_produto' pk=produto.pk %}">
        <i class="material-icons">delete</i>
         </a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

{% endblock %}
