{% extends 'base_login.html' %}
{% load staticfiles %}
{% block title %}Autenticação{% endblock %}
{% block content %}
<!-- .?next={{redirect_to}} -->
<!-- Serve para gravar a última página que o usuário tentou acessar -->
<style>
body {
  background-color: #00796b;
}
#form {
  width: 350px;
  padding-top: 15px;
}
.input-field .prefix {
  padding-top: 10px;
}

</style>
<div class="container" id='form'>
  <form action=".?next={{ redirect_to }}" method="post">{% csrf_token %}
    <div class="center">
      <div class="card-panel z-depth-5 row">
        <div class="center">
          <!-- <img src="https://i.imgur.com/a4bYTa2.png"> -->
          <img src="{% static 'images\icons\icon account.png' %}">
        </div>
        {% if user.is_authenticated %}
        <h5>ATENÇÃO</h5>
          <p class='center-align'>Você já está logado como: <b>{{request.user.username}}</b></p>
          <a href="{% url 'index' %}">Ir para tela de início</a>
        {% else %}
          <div class="input-field">
            <i class="material-icons prefix">account_circle</i>
              <input type="text" name="username" value="" maxlength="30" id='id_username'>
              <label for="id_username">Usuário</label>
            </div>
          <div class="input-field">
            <i class="material-icons prefix">lock</i>
              <input type="password" name="password" value="" maxlength="30" id='id_password'>
              <label for="id_password">Senha</label>
            </div>
            <br>
            <div class='row'>
          <button class="btn waves-effect waves-light" type="submit" name="login"><i class="material-icons left">lock_open</i>Entrar</button>
            </div>
          <div class="col s6 offset-s6">
            <a class='blue-text' href="#">Esqueceu a senha?</a>
          </div>
        </div>
        {% endif %}
      </div>
    </form>
    <div class="center">
      <a class="white-text" href="#">Copyright © 2018 <b>AKZO</b><br>Todos os direitos reservados</a>
    </div>
</div>

{% endblock %}
