{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Editar Marca{% endblock %}
{% block content %}
<div class="container">
<form method="post">
  {% csrf_token %}
  <div class="center">
    <h6 style="margin-top:2%">Editar Marca</h6>
    <span>Campos</span>
  </div>
  <div class="card-panel z-depth-4 row">      <!-- {{ form }} -->
      <div class="input-field" >
         {{form.marca_nome}}
         <label for="{{form.marca_nome.id_for_label}}">Nome<span id="valNome" style="color:red">*</span></label>
      </div>
      <div class="input-field">
        {{form.marca_descricao}}
        <label for="{{form.marca_descricao.id_for_label}}">Descrição</label>
      </div>
      <div class="input-field">
        {{form.marca_email}}
        <label for="{{form.marca_email.id_for_label}}">Email</label>
      </div>
      <div class="input-field">
        {{form.marca_telefone}}
        <label for="{{form.marca_telefone.id_for_label}}">Telefone</label>
      </div>
      <div class="input-field">
        {{form.marca_slug}}
        <label for="{{form.marca_slug.id_for_label}}">Atalho</label>
      </div>
  <div class="center">
  <button type="submit" class="btn waves-effect waves-light" name="action">Salvar</button>
  </div>
 </form>
</div>


{% endblock %}
